/*html strat on 10012025 Tapas Manna*/
 
:root {
 /*================font-size================*/
  --font-size14: 13px;
  --font-size18: 18px;
  
/*=============border-radius*===============*/
  --border-radius6:3px;
 
/*=============border*===============*/ 
  --border-gray2: 2px solid #ccc;
}

Body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Nunito Sans", serif;
}
 

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 998;
}
.bg-dark-topnav {
    background: #000;
    color:#fff;
	height: 46px;
}
.main-canvas-content {
    overflow: hidden;
}

.main-canvas-content {
    height: calc(100vh - 41px);
}

.panel-left {
    padding: 11px;
    background: #fff;
}
.panel-left {
    width: 369px;
}
 .panel-right {
    width: 360px;
    height: calc(100vh - 50px);
    overflow: auto;
    text-align: left;
	background: #fff;
	padding: 20px;
}
 .panel-right .headtext{ 
     font-size:13px;  
     font-weight: 600 !important; 
     background:var(--secondColor);
    font-weight: normal;
    margin-bottom: 20px; 
    width:100%; 
    margin-bottom:20px;
}
p.collapsed{    font-size: var(--font-size14);}

.panel-middle {
    background: #e4e3e6;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: flex
;
    flex-direction: column;
    overflow: auto;
    position: relative;
}
.container-1 {
    height: auto;
    width: 100%;
    padding: 32px 45px;
}
.canvas {
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-top-btn {
    font-size: var(--font-size14);
    position: absolute;
    transform: translate(820px, -12px);
}
.Graphic-More { 
    border: 0px; 
    margin-left:15px; 
    padding: 7px 12px; 
    border-radius:var(--border-radius6); 
    color:#000; 
    font-size:var(--font-size14);
}
.Graphic-More.active{ 
    background:#000; 
    color:#fff
}
.Graphic-More:hover{background:#4e43e1; color:#fff;}
.panel-left h2{ font-size: var(--font-size18);  font-weight: bold;font-family: "Nunito Sans", serif; padding: 0 0 0 24px;}
.panel-left-scroll {
    overflow: hidden;
    height: 100%;
    padding: 15px;
}
.panel-left ul li {
    list-style-type: none; 
    width: 100%;  
    margin-bottom: 10px;  
    border-radius: 2px;
}
.panel-left ul {margin:0px; padding:0px;}
.panel-left ul li .menuboard-thum{width:100%; margin-bottom:15px;border:2px solid #ddd; padding:4px; margin-bottom:20px;}
.panel-left ul li p{margin:0px 0px 10px 0px;}
    .panel-left ul li .sd-btn-right {
        float: right;
        border: 2px solid #ddd;
        border-radius: 6px;
        background: transparent;
        padding: 3px 11px;
        color: #747474;
        font-weight: bold;
        font-size: 13px !important;
    }
  .sd-btn-right img{float:left!important; margin:1px 10px 0px 0px !important;}
.panel-left ul li b {
        font-size: var(--font-size14);
        color: #747474;
        float: left;
        line-height: 22px;
        font-weight: 500;
}
 
 .clear {
     clear:both;
 }
 .panel-left ul li span {    
     font-size: var(--font-size14); 
     line-height: 29px; 
     margin-top: 2px; 
     color:#8b8585; 
     font-weight:500;
     float: left;
 }
ul.right-listone li {
    list-style-type:none; 
    width: 22%;
    float:left; 
    margin: 0; 
}
    ul.right-listone li a {
        margin-bottom: 0;
        padding: 8px 8px;
        border: 2px solid transparent;
        border-radius: 8px;
        float: left;
        text-align: center;
    }
ul.right-listone li a img {
    width: 28px;
    height: 28px;
}
ul.right-listone li a:hover {
    border: 2px solid #ccc;
}
.active_effect {
    border: 2px solid #ccc !important;
}

ul.right-listone li:nth-child(3){margin-right:0px;}
ul.right-listone li:nth-child(6){margin-right:0px;}
ul.right-listone li p{float:left; width:100%; text-align:center; font-size: var(--font-size14);}

	
ul.right-listone{padding:0px; margin:0px; width: 100%;
    float: left;}

	
	
.nav-right ul{float:right; padding:0px; margin:0px;}	
.nav-right ul li{list-style-type:none;  float:left; margin-left:0px;    }
    .nav-right ul li .btn {
        color: #fff;
        font-size: var(--font-size14);
        padding: 0px 0px;
        margin: 7px 8px 8px 8px;
        border-radius: 6px;
        box-shadow: none;
        border: none;
    }
 .nav-right ul li:hover {
        background-color: #6464647a;
    }
    .nav-right ul li.play-btn .btn {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 12px;
        border-radius: 3px;
        margin: 6px !important;
        box-shadow: none;
        border: 1px solid #fff;
    }

.nav-right ul li button.login {
    color:#fff;
    padding: 13.2px 20px; 
    float: left; 
    background:#4e43e1; 
    font-size: var(--font-size14);
    border: none;
}
.nav-right ul li button.login:hover{text-decoration:none;}

.nav-middle{
    text-align:center;
}
.nav-middle .D-icon-save {
        font-size: var(--font-size14);
        color: #fff;
        background: transparent;
        border: none;
        border-radius: 5px;
        height: 35px;
        margin: 0 !important;
        padding: 0px !important;
}
.nav-middle .D-icon-save:hover{background:#4e43e1; border-radius:6px;}
	/*tab css =========================*/
     
 .tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}




.tabset > label {
    position: relative;
    display: inline-block;
    padding: 4px 3px;
    background: transparent;
    color: #000;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    border-radius: var(--border-radius6);
    font-size: var(--font-size14);
    margin-right: 6px;
    border: 2px solid #ccc;
    width: 63px;
    text-align: center;
    margin-left: 0px;
}
 

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  background: #000;
  color:#fff;
 border:2px solid #000 !important
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
  
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 20px 0px 20px 0px;
  border-top:0px solid #ccc; float:left; height:100%; position:relative;
}
.tab-panel h2{ font-size: var(--font-size14);
    font-weight: normal;
    margin-bottom: 20px;}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

 

.tabset {max-width: 65em;}
a.logo{float:left; margin-right:6px; padding-top:7px;}
    a.logo img {
        width: 25px;
        margin-top: 4.8px;
        height: 25px;
    }
ul.top-left-icon li {
    list-style-type:none;  
    padding: 11px 2px; 
    float:left;
}
ul.top-left-icon li:hover {
        background-color: #6464647a;
    }
.top-left-icon li a{padding:5px 10px 6px 10px;}
.navbar ul.top-left-icon{float:left; margin:0px; padding:0px; margin-top: 0px;}
.navbar .row{width:100%; --bs-gutter-x: 0rem !important;}

/*scroll Custom style*/
 ::-webkit-scrollbar {width:6px; :: -webkit-scrollbar background-color:transparent;border-radius: 10px;  background: transparent;}
 ::-webkit-scrollbar-thumb {background-color: #ddd;border-radius: 10px;}
 ::-webkit-scrollbar-thumb:hover {background-color: #4e43e1;border: 1px solid #4e43e1;}
 ::-webkit-scrollbar-thumb:active {background-color: #111;border: 1px solid #111;}
 ::-webkit-scrollbar:horizontal {height: 10px !important;}
 /*scroll Custom style*/
 
.nav-right{padding:0px;}
.navbar {padding:0px;}
.p-r-0{padding-right:0px; justify-content:center;}
 
.panel-left{ position:relative;}
.panel-left-gallery {
    width: 100%;
    max-height: 679px;
    height: auto;
    background: #fff;
    z-index: 9;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 3px; 
    border-right: none;
}
.panel-left-gallery h2{font-family: "Nunito Sans", serif;   font-size: var(--font-size18); font-weight: bold;}
.gl-box{width:100%; height:100%;}
.gallery-search-right button{border:0px;  position:absolute; right:6px; top:5px; background:transparent;}
.gallery-search-right .form-search{border:2px solid #ddd; padding:5px 0px 5px 5px; float:right;}
.b-radius-6{border-radius:6px;}
.panel-left-gallery .row{margin-bottom:10px;}
.gallery-image ul{padding:0px; margin:0px;}
.gallery-image ul li{float:left; width: 30%;margin: 0px 20px 20px 0px;} 
.gallery-image ul li img{width:100%;border:2px solid transparent; padding:5px; border-radius:6px;}
.gallery-image ul li img:hover{ border:2px solid #ddd; }
.gallery-image ul li:nth-child(3n) { margin-right:0px;}
.panel-left-gallery .btn-cross{ border:0px solid #ddd; float:right; background:transparent; font-weight: bold;font-size: 15px; border-radius: 3px; padding-top: 2.3px;}
.panel-left-gallery .btn-cross:hover{color:red}
.pagination ul{padding:0px; margin:0px; }
.pagination ul li{float:left;  list-style-type:none; border:2px solid #ddd;  border-radius:6px; color:#000; color:#000;
    margin: 0px 10px 10px 0px; width:30px; text-align:center;     font-size: var(--font-size14);}
	
	[data-toggle="collapse"] .fa:before {  
  content: "\f077"; 
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f078";
}

.arrow-expand{
  margin-left:10px;
}


.collapsing {
   position: relative;
  height: 0;
  overflow: hidden;
  transition:none !important;
   
}
/*.accordion{position:absolute; left:0px; top:20px;}*/
.collapse{background:#fff; border-radius: 1rem; border: 0px; height:auto !important; width:240px;  -webkit-box-shadow: 0px 0px 7px #c1bbbb; box-shadow: 0px 0px 7px #c1bbbb;}
.clear{clear:both;}	
ul.Shapes li{ width:100%;  padding:10px;   font-size: var(--font-size14); list-style-type:none; float:left; margin-bottom:1px !important;}
ul.Shapes{padding:0px;}	

ul.Shapes li:hover{background:#f5f5f5; border-radius:6px; cursor:pointer;}

 .top-gl-link .answer-group{ width: auto;  margin: 0px;padding: 7px 8px;cursor:pointer;}	
 .top-gl-link .collapsed .arrow-expand{font-size: 10px;}
 .collapse.show-gallery {
     position: absolute; 
     left: 0px; 
     top: 0px; 
     bottom: 0px; 
     background: #fff;
     width: 575px; 
/*     z-index: 1; */
     border-radius: 0;
     box-shadow: none;
 }
 .top-gl-link p{margin:0px;}
/*.accordion .answer-group p{    font-size: var(--font-size14);
    display: flex;  line-height: 15px;
}*/

.gallery-image ul li{list-style-type:none;}
#collapse-3{height:200px;}

ul.speed-list{padding:0px; margin:0px; }
ul.speed-list li{list-style-type:none; float:left; width:100%; padding:10px;    font-size: var(--font-size14); margin-bottom:1px;}
#collapse-4, #collapse-6  {position:absolute}

ul.speed-list li:hover{background:#f5f5f5; border-radius:6px; cursor:pointer;}


.show-texteditor h2 {
    font-size: var(--font-size18);
    font-weight: bold;
    font-family: "Nunito Sans", serif;
    padding: 0 0 0 0px;
 
}

.collapse.show-texteditor {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #fff;
    width: 254px;
/*    z-index: 1;*/
    border-radius: 0;
    box-shadow: none;
}
.collapse.show-background {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: red;
    width: 272px;
    z-index: 1;
    border-radius: 0;
    box-shadow: none;
}

/*.collapse.show-texteditor .panel-left-gallery{width:100%;}
*/
ul.TextStyle{ margin:0px;}
ul.TextStyle li {list-style-type:none; float:left; width:100%; margin-bottom:10px;}
 ul.TextStyle li a{color:#000; padding:0px 14px; float: left; text-decoration:none;}
 ul.TextStyle li a:hover{color:#fff; background:#4e43e1}
 
 /*font-face css*/
ul.TextStyle li a.arial{font-size:35px;}
ul.TextStyle li a.anton{font-family: 'Anton'; font-weight: normal; font-style: normal; font-size: 35px;}
ul.TextStyle li a.bebes{ font-family: 'Bebas Neue'; font-weight: normal; font-style: normal; font-size: 35px;}
ul.TextStyle li a.monstro{ font-family: "Monstro"; font-style: normal; font-size: 35px;}
ul.TextStyle li a.Montserrat{ font-family: 'Montserrat'; font-style: normal; font-size: 35px;} 
ul.TextStyle li a.neto{ font-family: 'Noto Sans'; font-weight: normal; font-style: normal; font-size: 35px;}
ul.TextStyle li a.pacifico{ font-family: 'Pacifico'; font-weight: normal; font-style: normal; font-size: 35px;}
ul.TextStyle li a.Roboto{ font-family: 'Roboto'; font-weight: bold; font-size: 35px;}

.middle-resulation {
    width: 100%;
    padding: 15px 0px !important;
    font-size: 13px;
    color: #979393;
    position: absolute;
    bottom: -16px;
    left: -450px;
}
/*.alignment-img ul{ margin: 0px 0px 0px -8px; }*/
.alignment-img ul li{list-style-type:none; float:left;}
.alignment-img ul li img{width: 40px;border: 2px solid transparent; padding: 7px; border-radius: 6px;}
.alignment-img ul li:hover img{ border: 2px solid #ddd;}
.p-l-0{padding-left:0px;}
.p-r-0{padding-left:0px;}
.FontSize select{border:0px; width: 52px;  font-size: var(--font-size14);}	
.FontSize label	{ font-size: var(--font-size14);}
.fillcolor .fill-solid{width:30px; height:30px; background:#000; border-radius:6px; float: right;}
.Strock .fill-solid{width:30px; height:30px; background:#000; border-radius:6px; float: right;}




/* STYLE C */

.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: #4e43e1;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: #4e43e1;
}
.checkbox.style-c .checkbox__checkmark {
  position: absolute;
     top: -5px;
    right: 3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
}

svg {
  width: 70px;
  height: 70px;
}
svg:hover {
  fill: red!important;
}
.Strock-Line select, .FontSize select {
    border: 0px;
    width: 52px;font-size: var(--font-size14);
}
.Strock-Line label, .opasity label, .Strock label, .fillcolor label, .FontSize label {font-size: var(--font-size14);}

/*vertical-Mboard*/
.vertical-Mboard{text-align:center}
.vertical-Mboard img{width:auto;   }
.vertical-Mboard p{text-align:center;}
.panel-vertical-scroll li{text-align: center;}
.panel-vertical-scroll .menuboard-vertical-thum{
    margin-bottom:10px; 
    width:100px; 
    border: 2px solid #ddd; 
    padding:4px;
    height:158px;
}
.panel-left .H-link{ color:#000; text-decoration:none; padding:8px 14px; float:right; margin-left:10px;font-size: var(--font-size14); border:1px solid transparent; border-radius:6px;}
.panel-left .V-link{ color:#000; text-decoration:none; padding:8px 14px; float:right; margin-left:10px;font-size: var(--font-size14);border:1px solid transparent; border-radius:6px;}
.panel-left .V-link:hover, .panel-left .H-link:hover{border:1px solid #ddd;}


.panel-left h2{margin-bottom:20px;}
.clear{clear:both}


.H-link.active, .V-link.active {
  background-color: #4e43e1;
  color: #fff;
}
 
/*dropdown css*/

.dropdown-menu {
    background-color: #2c2c2c;
    border: none;
    min-width: 180px;
    padding: 0;
}

.dropdown-item {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    padding-left: 24px;
    font-size: 14px;
}

.dropdown-item:hover {
   background-color: #444;
}

.icon {
    width: 18px;
    height: 18px;
}
.dropdown-menu[data-bs-popper] {
    top: 96%;
}
#lblSpeed {
    margin-left: 8px;
    font-size: 13px;
    margin-top: 0;
}
#lblSeconds {
    margin-left: 8px;
    font-size: 13px;
    margin-top: 0;
}
#lblOutSpeed {
    margin-left: 8px;
    font-size: 13px;
    margin-top: 0;
}
.in_direction {
    width: 25px !important;
    height: 25px !important;
}
/*----------------------------------------------Loader---------------------------------*/
.page-loaderdiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0,0, 0.3);
    z-index: 9999;
}

.page-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
/*----------------------------------------------Loader End---------------------------------*/
.page-loaderdiv {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 9999;
    top: 0;
    left: 0;
}
.padding-control-withmsgdivstyle {
    padding: 11px 15px 11px 45px;
    /*height: 100px;*/
    position: relative;
    font-weight: 600;
    font-size: 13px;
    color: #6d6d6d;
}
.sucess-msg {
    background-color: #e0f2e5;
    word-break: break-all;
}
.alert-icons-label {
    height: 40px;
    position: absolute;
    top: 0;
    margin-bottom: 0;
    background: #dadada;
    left: 0;
    width: 35px;
}
.success-sm-bg {
    background: #b7ebc6;
}
.success-fa-color {
    color: #007823;
    font-size: 30px;
    padding: 5.5px 2px;
}
.generic-datamodal .modal-content {
    border-radius: 0;
}
.alert-modalcontent {
    border-radius: 0;
    border-top: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-save {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.min-w-80px {
    min-width: 80px;
}
.btn-save:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-save.focus, .btn-save:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.nav_input {
    background-color: transparent !important;
    border: transparent !important;
    width: 150px !important;
    height: 35px !important;
    color: #fff !important;
    margin-left: 30px;
    text-align: center;
}

    .nav_input::placeholder {
        color: #ffffffba !important;
        font-size: 14px !important
    }

    .nav_input:focus {
        box-shadow: none !important;
        background-color: #2a2929 !important;
    }

.rename_button {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 4px;
}

/* modal */
.modal-backdrop {
    z-index: 1000 !important;
}

.modal-dialog {
    margin-top: 200px !important;
}

.modal-content {
    height: 315px !important;
    border-radius: 0 !important;
}

.modal-title {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border: none !important;
}

.option-box {
    border: 2px solid transparent;
    padding: 14px;
    margin-bottom: 15px;
    cursor: pointer;
}

    .option-box:hover {
        border: 2px solid black;
    }

    .option-box.selected {
        border: 2px solid black;
    }

.landscape-icon,
.portrait-icon {
    border: 2px solid black;
    display: inline-block;
    margin-right: 10px;
}

.landscape-icon {
    width: 30px;
    height: 20px;
}

.portrait-icon {
    width: 20px;
    height: 30px;
}

.create-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 9px 40px;
}

    .create-btn:hover {
        background-color: #333;
    }

.vertical_option {
    margin-left: 11px;
}
.nav-item .dropdown-item:hover {
    background-color: #4a32a3 !important;
}

.profile {
    color: #fff !important;
    background-color: #4e43e1 !important;
    width: 46.5px;
    height: 46.5px;
}

.acc_list:hover {
    background-color: #2f2893 !important;
}

.check_box {
    width: 20px !important;
    height: 20px !important;
    border-color: #000000b3 !important;
}