@using Microsoft.AspNetCore.Http
@using AnimationProject.Helpers;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aniboard</title>
    @* <link rel="icon" type="image/x-icon" href="~/favicon.png"> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/arial-2" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    @* <link href="~/css/bootstrap4.6/bootstrap.min.css" rel="stylesheet" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimationProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/js/common/genericscript.js?v=@Configuration["AppSettings:FilesVersion"]"></script>
    <script src="~/js/common/alertmessage.js?v=@Configuration["AppSettings:FilesVersion"]"></script>
    <link href="~/css/Common/jquery-ui.css?v=@Configuration["AppSettings:FilesVersion"]" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap Bundle with Popper -->
    
</head>
<body>
    @if (ViewBag.HideNavbar != true) {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Aniboard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container-fluid px-0">
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    @*---------------------------page loader------------------*@
    <div class="page-loaderdiv" style="display:none" id="divloader">
        <div class="page-loader"> 
            
            <span class="loader"></span>
        </div>
    </div>
    <div class="page-loaderdiv" style="display:none" id="preploader">
        <div class="page-loader  d-flex justify-content-center align-items-center flex-column">
            <p>Preparing for publish...</p>
            <span class="loader"></span>
        </div>
    </div>
    <div class="page-loaderdiv" style="display:none" id="transloader">
        <div class="page-loader d-flex justify-content-center align-items-center flex-column">
            <p>Transfering file to server...</p>
            <span class="loader"></span>
        </div>
    </div>
    @*-----------------------page loader End----------------------------*@
    @*---------------------------Message Popup------------------*@
    <div class="user-editable-modal ">
        <div class="modal fade" id="popUpAlerts" role="dialog" style="opacity: 1; background: rgb(36 7 136 / 49%); z-index: 9999;">
            <div class="modal-dialog">
                <div class="modal-content alert-modalcontent saving_modal">
                    <div class="modal-body bordernone">
                        <div class="">
                            <div class="">
                                <div id="pMessageShow">
                                </div>
                                <div class="clearfix"></div>
                                <div class="mt-2 text-center" id="dvButtonShow">
                                </div>
                                <div class="d-flex justify-content-center gap-2">
                                    <div class="text-center" id="dvButtonShowok">
                                    </div>
                                    <div class="text-center" id="dvButtonShowCancel" style="display: none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*--------------------Confirm functionality modal------------------*@
    <!-- Custom Confirm Modal -->
    <div class="cutom-confirm-modal">
    <div class="modal fade" id="customConfirmModal" tabindex="-1" aria-hidden="true" style="opacity: 1; background: rgb(36 7 136 / 49%); z-index: 9999;">
        <div class="modal-dialog">
            <div class="modal-content custom-modal-content">
                @* <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> *@
                <div class="modal-body custom-confirm-modal-body mt-3" id="customConfirmMessage">Are you sure?</div>
                <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-cancel min-w-80px min-widthauto" id="customConfirmCancel">Cancel</button>
                        <button type="button" class="btn btn-save min-w-80px min-widthauto" id="customConfirmOk">Ok</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal Structure -->
    <div class="modal fade layout_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="aniBoardModalLabel">New AniBoard</h5>
                </div>

                <div class="modal-body">
                    <!-- Vertical Option -->
                    <div class="option-box d-flex justify-content-between align-items-center mb-2" id="vertical-option">
                        <div class="d-flex align-items-center">
                            <div class="portrait-icon"></div>
                            <span class="vertical_option">Vertical / Portrait</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span>1080x1920</span>
                            <span class="checkmark"></span>
                        </div>
                    </div>

                    <!-- Horizontal Option -->
                    <div class="option-box d-flex justify-content-between align-items-center" id="horizontal-option">
                        <div class="d-flex align-items-center">
                            <div class="landscape-icon"></div>
                            <span>Horizontal / Landscape</span>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span>1920x1080</span>
                            <span class="checkmark"></span>
                        </div>
                    </div>


                </div>

                <div class="modal-footer pt-0">
                    <button type="button" class="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                    <button class="create-btn" id="create-button">Create</button>
                </div>
            </div>
        </div>
    </div>
    @*---------------------------Message Popup End------------------*@
    @if (ViewBag.HideFooter == null || ViewBag.HideFooter == false)
    {
    @* <footer class="border-top footer text-muted py-2"> *@
    @*     <div class="container text-center">  *@
    @*         &copy; 2025 - Aniboard - <a class="privacy-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>  *@
    @*      </div>  *@
    @* </footer> *@
    }
    <script type="text/javascript">
        var baseURL = '@Settings.Value.BaseUrl';
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
