@{
    Layout = null;
}
@{
    var mode = (string)(ViewBag.Orientation ?? "Unknown");
}
@* <script>
    //slide options js
    const thumbs = document.querySelectorAll('.menuboard-vertical-thum');
    const slideOptions = document.getElementById('slideOptions');
    let currentImage = null;
    thumbs.forEach(image => {
        image.addEventListener('contextmenu', function (e) {
            e.preventDefault();
            currentImage = image;
            const rect = image.getBoundingClientRect();
            slideOptions.style.display = 'block';
            slideOptions.style.left = `${e.clientX + window.scrollX}px`;
            slideOptions.style.top = `${e.clientY + window.scrollY}px`;
            document.body.appendChild(slideOptions);
        });
    });

    document.addEventListener('click', function () {
        slideOptions.style.display = 'none';
    });
</script> *@

<div class="panel-left-scroll">
    <button onclick="tranTogglePopup(); transitionSelected(this);" class="sd-btn-right mb-3"> <img src="~/images/icon-01.png" alt="Banner" style="width: 19px;">Transition</button>

    @if (mode == "Vertical")
    {
        <ul>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical1" class="menuboard-vertical-thum active_border" alt="Banner" onclick="SaveDesignBoardSlide(1); handleThumbClick(this);TabShowHide('In');updateEffectButtons('In');updateEffectButtons('Out');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <span>Slide-1</span>
                    <div class="slide-icon"><i class="fa-regular fa-clone"  title="Duplicate" onclick="DuplicateSlide();"></i></div>
                    <div class="slide-icon delete"><i class="fa-regular fa-trash-can"  title="Delete" onclick="DeleteSlide();"></i></div>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical2" class="menuboard-vertical-thum" alt="Banner" onclick="SaveDesignBoardSlide(2); handleThumbClick(this);TabShowHide('In');updateEffectButtons('In');updateEffectButtons('Out');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <span>Slide-2</span>
                    <div class="slide-icon"><i class="fa-regular fa-clone"  title="Duplicate" onclick="DuplicateSlide();"></i></div>
                    <div class="slide-icon delete"><i class="fa-regular fa-trash-can" title="Delete" onclick="DeleteSlide();"></i></div>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical3" class="menuboard-vertical-thum" alt="Banner" onclick="SaveDesignBoardSlide(3); handleThumbClick(this);TabShowHide('In');updateEffectButtons('In');updateEffectButtons('Out');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <span>Slide-3</span>
                    <div class="slide-icon"><i class="fa-regular fa-clone" title="Duplicate" onclick="DuplicateSlide();"></i></div>
                    <div class="slide-icon delete"><i class="fa-regular fa-trash-can" title="Delete" onclick="DeleteSlide();"></i></div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    }
    else if (mode == "Horizontal")
    {
                <ul>
                    <li>
                        <img src="~/images/Default_Slide_Image.jpeg" id="imageHorizontal1" class="menuboard-horizontal-thum active_border" alt="Banner" onclick="handleVThumbClick(this)">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <span>Slide-1</span>
                            <div class="slide-icon"><i class="fa-regular fa-clone" title="Duplicate"></i></div>
                            <div class="slide-icon delete"><i class="fa-regular fa-trash-can" title="Delete"></i></div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/Default_Slide_Image.jpeg" id="imageHorizontal2" class="menuboard-horizontal-thum" alt="Banner" onclick="handleVThumbClick(this)">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <span>Slide-2</span>
                            <div class="slide-icon"><i class="fa-regular fa-clone" title="Duplicate"></i></div>
                            <div class="slide-icon delete"><i class="fa-regular fa-trash-can" title="Delete"></i></div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/Default_Slide_Image.jpeg" id="imageHorizontal3" class="menuboard-horizontal-thum" alt="Banner" onclick="handleVThumbClick(this)">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <span>Slide-3</span>
                            <div class="slide-icon"><i class="fa-regular fa-clone" title="Duplicate"></i></div>
                            <div class="slide-icon delete"><i class="fa-regular fa-trash-can" title="Delete"></i></div>
                            <div class="clear"></div>
                        </div>
                    </li>

                </ul>
    }
</div>

