@{
    Layout = null;
}
@{
    var mode = (string)(ViewBag.Orientation ?? "Unknown");
}
<div class="panel-left-scroll panel-vertical-scroll">
    @if (mode == "Vertical")
    {

        <ul>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical1" class="menuboard-vertical-thum active_border" alt="Banner" onclick="SaveDesignBoardSlide(1); handleThumbClick(this);TabShowHide('In');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center ">
                  @*   <span>1</span> *@
                    <button onclick="tranTogglePopup();" class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>Fade</b></button>
                    <button onclick="DeleteSlide(hdnDesignBoardDetailsIdSlide1.value);" class="sd-btn-right"> <b>Delete</b></button>
                    <button onclick="DuplicateSlide();" class="sd-btn-right"> <b>Duplicate</b></button>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical2" class="menuboard-vertical-thum" alt="Banner" onclick="SaveDesignBoardSlide(2); handleThumbClick(this);TabShowHide('In');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center ">
                  @*   <span>2</span> *@
                    <butto onclick="tranTogglePopup();" class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>Fade</b></butto>
                    <button onclick="DeleteSlide(hdnDesignBoardDetailsIdSlide2.value);" class="sd-btn-right"> <b>Delete</b></button>
                        <button onclick="DuplicateSlide();" class="sd-btn-right"> <b>Duplicate</b></button>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <img src="~/images/Default_Slide_Image.jpeg" id="imageVertical3" class="menuboard-vertical-thum" alt="Banner" onclick="SaveDesignBoardSlide(3); handleThumbClick(this);TabShowHide('In');updateDirectionButtons('In');updateDirectionButtons('Out');">
                <div class="d-flex justify-content-center align-items-center ">
                   @*  <span>3</span> *@
                    @* <button onclick="tranTogglePopup();" class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>Fade</b></button> *@
                    <button onclick="DeleteSlide(hdnDesignBoardDetailsIdSlide3.value);" class="sd-btn-right"> <b>Delete</b></button>
                       @*  <button onclick="DuplicateSlide();" class="sd-btn-right"> <b>Duplicate</b></button> *@
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    }
    else if (mode == "Horizontal")
    {
        <div class="panel-left-scroll ">
                <ul>
                    <li>
                        <img src="~/images/banner.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 1</span>
                            <button  class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/banner-old.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 2</span>
                            <button class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/banner.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 3</span>
                            <button class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>

                </ul>
            </div>
    }
</div>

