@{
    Layout = null;
}
<div class="col-md-3 d-flex align-items-center gap-3">
    <a class="logo ms-2" href="javascript:history.back()"> <img src="~/images/icons/icon-left-arrow.png" alt="Logo" alt="Logo"></a>
    <ul class="top-left-icon d-flex align-items-center gap-2">
        <li id="toggle_img">
            <a href="javascript:void(0)"> <img  src="~/images/icons/ico-pattren.svg" title="Pattren" alt="pattren" width="20"></a>
        </li>
        <li onclick="addDefaultText();opentl();">
            <a href="javascript:void(0)"> <img  src="~/images/icons/icon-text.png" title="Text" alt="text" width="17"></a>
        </li>
        <li>
            <a href="javascript:void(0)"> <img src="~/images/icons/icon_circle.svg" title="Circle" alt="circle" width="16"></a>
        </li>
        <li>
            <a href="javascript:void(0)"> <img src="~/images/icons/ico-shapes-masking.svg" title="Masking" alt="Masking" width="17"></a>
        </li>
        <li onclick="opengl()">
            <a href="javascript:void(0)">
                <img  src="~/images/icons/icon_gallery.svg" title="Gallery" alt="Gallery" width="20">
            </a>
        </li>
        <li data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="javascript:void(0)" >
                <img src="~/images/icons/plus.png" title="Create" alt="Create_Board" width="18">
            </a>
        </li>
    </ul>
</div>
<div class="col-md-6 nav-middle d-flex gap-2 justify-content-center align-items-center">
    <input type="text" class="form-control nav_input" placeholder="Board Name" aria-label="Username" id="txtSaveDesignBoardName">
    <button class="D-icon-save" id="saveButton" onclick="SaveDesignBoard();" type="submit"><img src="~/images/icons/ico-save.svg"> </button>
    <input type="hidden" id="hdnDesignBoardId" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlide1" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlide2" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlide3" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideFilePath1" value="" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideFilePath2" value="" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideFilePath3" value="" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideImageFilePath1" value="" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideImageFilePath2" value="" />
    <input type="hidden" id="hdnDesignBoardDetailsIdSlideImageFilePath3" value="" />
</div>
<div class="col-md-3 nav-right">
    <ul class="d-flex align-items-center">
        @* <li class="play-btn"> *@
        @*     <button class="btn" title="Preview" data-bs-toggle="modal" onclick="GetDesignBoardByIdForPublish();" data-bs-target="#imageModal"><img src="~/images/icons/Icon-01.svg" width="20"> </button> *@
        @* </li> *@
        <li class="play-btn">
            @*  <button class="btn" title="Publish" onclick="triggerAutorefresh()" id="btnPublish">P </button> *@
            <button class="btn" title="Publish" onclick="GetDesignBoardByIdForDownload('');" id="btnPublish">P </button>
        </li>
        <li>
            <button class="btn" type="submit" onclick="GetDesignBoardByIdForDownload('download')" title="download"><img src="~/images/icons/ico-download.svg" width="30"> </button>
        </li>

        <li class="nav-item dropdown">
            <a class="profile nav-link text-light d-flex justify-content-center align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                A
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown" style="background-color: #4E43E1; border: none; border-radius:0; max-width: 106px; box-shadow: none;">
                <li class="w-100 acc_list">
                    <a class="dropdown-item d-flex align-items-center text-white" asp-controller="Canvas" asp-action="Account">
                        Account
                    </a>
                </li>
                <li class="w-100 acc_list">
                    <a class="dropdown-item d-flex align-items-center text-white" asp-controller="Canvas" asp-action="Boards">
                        Boards
                    </a>
                </li>

                <li class="w-100 acc_list">
                    <a class="dropdown-item d-flex align-items-center text-white" href="/Canvas/Login">
                        Sign Out
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>