<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
@* google fonts *@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
<style>
    body {
        background-color: #fff;
        font-family: "Nunito Sans", sans-serif;
    }
    p{
        font-size: 15px;
    }
    .acc_cont{
        margin-top: 2.5rem;
        margin-bottom: 2.2rem;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
   
    .account{
        color: white;
        margin-bottom: 0;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
    }
    .header {
        background-color: black;
        padding: 10px 20px;
    }

    .heading_acc {
        font-weight: 800;
    }

    .acc_input{
        border: none !important;
        padding-left: 0 !important;
    }
    .acc_btn{
        border-radius: 0 !important;
        width: 250px;
        font-weight: 600 !important;
        border: 2px solid #6666668c !important;
    }
   tr{
       border-color: transparent !important;
   }
    .dropdown-menu.show {
        background: #fff;
        border-radius: 1rem;
        border: 0px;
        height: auto !important;
        width: 240px;
        -webkit-box-shadow: 0px 0px 7px #c1bbbb;
        box-shadow: 0px 0px 7px #c1bbbb;
        overflow: hidden !important;
    }

    .dropdown {
        color: #000000 !important;
    }

       
    

        .dropdown-item:hover {
            color: #fff !important;
            background-color: #4e43e1 !important;
        }

    .nav-item .dropdown-item:hover {
        background-color: #4a32a3 !important;
    }

    .profile {
        color: #fff !important;
        background-color: #4e43e1 !important;
        width: 47px;
        height: 47px;
        font-size: 17px !important;
        font-weight: 600 !important;
    }

    .acc_list:hover {
        background-color: #2f2893 !important;
    }

    .pay_button {
        border-radius: 0 !important;
        width: 145px;
        font-size: 15px !important;
    }

    .my-button {
        border-radius: 0 !important;
        height: 47px;
        width: 220px;
        font-size: 15px !important;
        font-weight: 600 !important;
    }

    .my-button:hover {
        background-color: #000000 !important;
        color: #fff !important;
    }
    .create_button {
        background-color: #4e43e1 !important;
        border-color: transparent !important;
    }

    .browse_button {
        color: black !important;
        background-color: #d4d3e1 !important;
        border-color: transparent !important;
    }
    input::placeholder {
        color: grey !important;
        font-weight: 600 !important;
        font-size: 15px !important;    
    }

    .nav_active {
        color: #3cbeee;
    }

    /* logo image upload */
    .upload-box {
        border: 2px dashed #ccc;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        background-color: #f9f9f9;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .upload-box:hover {
            background-color: #f0f0f0;
        }

        .upload-box img {
            max-width: 230px;
            height: auto;
            border-radius: 10px;
            
        }

    #logoInput {
        display: none;
    }

    /* .btn-upload {
        margin-top: 15px;
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        width: 100%;
    } */

        .btn-upload:hover {
            background-color: #333;
        }

    .upload-box.active {
        border-color: #4e43e1 !important;
    }

</style>

<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
<link href="~/css/animate/animate.min.css" rel="stylesheet">
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/canvas.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">
<script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="~/js/wow.min.js"></script>




@* <div class="header d-flex align-items-center"> *@
@*     <p class="account">My Account</p> *@
@*     <div class="icons ms-auto"> *@
@*         <i class="fa-brands fa-square-youtube"></i> *@
@*         <i class="fa-solid fa-download"></i> *@
@*     </div> *@
@* </div> *@
<nav class="navbar bg-dark-topnav navbar-expand-lg fixed-top">
    <div class="container-fluid p-r-0" style="justify-content: center !important;">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center gap-4 ms-2">
                <a href="javascript:history.back()" class="account"><img src="~/images/icons/icon-left-arrow.png" width="25px" height="25px" alt="Alternate Text" /></a>
                <a class="account nav_active">Account</a>
                <a class="account" asp-action="Boards">Boards</a>
                <a class="account">TV/Screens</a>
                <a class="account">Billing</a>   
            </div>

            
            <div class="col-md-3 nav-right ms-auto">
                <ul>
                    @* <li class="play-btn"> *@
                    @*     <button class="btn" title="Play"><img src="~/images/icons/Icon-01.svg" width="25"> </button> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <button class="btn" type="submit" title="download"><img src="~/images/icons/ico-download.svg"> </button> *@
                    @* </li> *@

                    <li class="nav-item dropdown">
                        <a class="profile nav-link text-light d-flex justify-content-center align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">


                            A
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" style="background-color: #4E43E1; border: none; border-radius:0; max-width: 106px; box-shadow: none;">
                            <li class="w-100 acc_list">
                                <a class="dropdown-item d-flex align-items-center text-white" asp-controller="Canvas" asp-action="Account">
                                   Account
                                </a>
                            </li>
                            <li class="w-100 acc_list">
                                <a class="dropdown-item d-flex align-items-center text-white" asp-controller="Canvas" asp-action="Boards">
                                    Boards
                                </a>
                            </li>

                            <li class="w-100 acc_list">
                                <a class="dropdown-item d-flex align-items-center text-white" href="/logout">
                                    TV/Screens
                                </a>
                            </li>
                            <li class="w-100 acc_list">
                                <a class="dropdown-item d-flex align-items-center text-white" href="/logout">
                                    Billing
                                </a>
                            </li>
                            <li class="w-100 acc_list">
                                <a class="dropdown-item d-flex align-items-center text-white" href="/logout">
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</nav>



<div class="container  acc_cont">
    <div>
        <button class="btn btn-danger pay_button b_rad4">Pay and Renew</button>
        <span class="ms-2 fs-8">Expired in 30 Days</span>
    </div>
    <div class="mt-4">
        <div class="d-flex justify-content-between align-items-center">
           <h2 class="heading_acc">My Account</h2>
            <div class="d-flex gap-3">
                <button class="btn btn-primary my-button create_button b_rad4" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Create New Aniboard</button>
                <button class="btn btn-secondary my-button browse_button b_rad4">Browse The Template</button>
           </div>
        </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <h5 class="mt-4 fw-bold">Smith Tremblay</h5>
            <p>sm@gmail.com</p>
                <p>smthteam@gmail.com</p>
                <p>Another@gmail.com <a href="#" class="text-decoration-none"><i class="fa-regular fa-pen-to-square ms-1" style="color: dimgrey"></i></a></p>
            <p class="fs-5">212-555-6789</p>
        </div>

        <div class="col-md-4">
                <h5 class="mt-4 fw-bold">Address</h5>
                <p>132 My street, Kingstone, New <br /> York 12404, US</p>
        </div>

        <div class="col-md-4">
            @* <h5 class="fw-bold">Transactions</h5> *@
            @* <table class="table"> *@
            @*     <tbody> *@
            @*         <tr> *@
            @*             <td>$299.27 USD</td> *@
            @*             <td>12/03/2025</td> *@
            @*             <td>stripe</td> *@
            @*             <td>pi_3R1bWsKZa1YSLvs00rDypCa5</td> *@
            @*         </tr> *@
            @*         <tr> *@
            @*             <td>$299.27 USD</td> *@
            @*             <td>12/03/2024</td> *@
            @*             <td>stripe</td> *@
            @*             <td>pi_3R0qliKZa1YSLvs00snjbm8D</td> *@
            @*         </tr> *@
            @*     </tbody> *@
            @* </table> *@
                <h5 class="mt-4 fw-bold">Password</h5>
                <form>
                    <div class="mb-2">
                        <input type="password" class="form-control acc_input b_rad4" placeholder="New Password">
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control acc_input b_rad4" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-outline-dark acc_btn b_rad4">Reset</button>
                </form>
        </div>
        
    </div>
    </div>
    <div class="">
        <div class="">
            <h5 class="mb-3 fw-bold">Upload Logo</h5>
                <div class="d-flex">
                    <div>
                        <!-- Upload Box -->
                        <div class="upload-box" onclick="document.getElementById('logoInput').click()">
                            <p id="uploadText" class="mb-0 text-muted">Click here to choose a logo</p>
                            <img id="previewImage" src="" alt="" class="img-fluid d-none">
                        </div>

                        <!-- Hidden File Input -->
                        <input type="file" id="logoInput" accept="image/*">
                    </div>
                    <!-- Upload Button -->
                    @* <div>
                        <button class="btn btn-upload" onclick="uploadLogo()">Upload</button>
                    </div> *@
            </div>
        </div>
    </div>
</div>




<!-- Modal Structure -->
<div class="modal fade layout_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title" id="aniBoardModalLabel">New AniBoard</h5>
            </div>

            <div class="modal-body">
                <!-- Horizontal Option -->
                <div class="option-box d-flex justify-content-between align-items-center " id="horizontal-option">
                    <div class="d-flex align-items-center">
                        <div class="landscape-icon"></div>
                        <span>Horizontal / Landscape</span>
                    </div>
                    <span>1920x1080</span>
                </div>

                <!-- Vertical Option -->
                <div class="option-box d-flex justify-content-between align-items-center mb-2" id="vertical-option">
                    <div class="d-flex align-items-center">
                        <div class="portrait-icon"></div>
                        <span class="vertical_option">Vertical / Portrait</span>
                    </div>
                    <span>1080x1920</span>
                </div>
            </div>

            <div class="modal-footer pt-0">
                <button class="create-btn" id="create-button">Create</button>
            </div>
        </div>
    </div>
</div>

<script>
    let selectedOption = ""; // Variable to store the selected board type

        document.getElementById("horizontal-option").addEventListener("click", function () {
            selectedOption = "horizontal";
            highlightSelection("horizontal-option");
        });

        document.getElementById("vertical-option").addEventListener("click", function () {
            selectedOption = "vertical";
            highlightSelection("vertical-option");
        });

        document.getElementById("create-button").addEventListener("click", function () {
            if (selectedOption === "horizontal") {
                window.location.href = "/Canvas/HorizontalIndex"; // Redirect to horizontal page
            } else if (selectedOption === "vertical") {
                window.location.href = "/Canvas/VerticalIndex"; // Redirect to vertical page
            } else {
                // alert("Please select an option before proceeding!");
                MessageShow('', 'Please select an option before proceeding!', 'error');
            }
        });

        // Function to highlight selected option
        function highlightSelection(selectedId) {
            document.getElementById("horizontal-option").classList.remove("selected");
            document.getElementById("vertical-option").classList.remove("selected");
            document.getElementById(selectedId).classList.add("selected");
        }

        document.addEventListener('DOMContentLoaded', function () {
          document.querySelectorAll('.panel-vertical-scroll .menuboard-vertical-thum')
            .forEach(item => {
              item.addEventListener('click', function () {
                this.classList.toggle('active');
              });
            });
        });



</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const logoInput = document.getElementById('logoInput');
    const previewImage = document.getElementById('previewImage');
    const uploadText = document.getElementById('uploadText');

    logoInput.addEventListener('change', function () {
    const file = this.files[0];
    if (file) {
        previewImage.src = URL.createObjectURL(file);
        previewImage.classList.remove('d-none');
        uploadText.style.display = "none";
        document.querySelector('.upload-box').classList.add('active');
      }
    });

    // function uploadLogo() {
    //   const file = logoInput.files[0];
    //   if (file) {
    //     alert("Logo uploaded successfully!");
       
    //   } else {
    //     alert("Please choose a file first.");
    //   }
    // }
</script>