@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = null;
    ViewBag.HideNavbar = true;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
rel="stylesheet" />
<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #fff;
        color: #000;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
    }

    .navbar {
        padding: 0.5rem 4.5rem;
    }

    .navbar-brand {
        font-size: 2.4rem;
        font-weight: 800;
        font-family: "Montserrat", sans-serif !important;
    }

    .nav-link {
        margin-right: 1.5rem;
        cursor: pointer;
    }

    .create-new-btn {
        background-color: #6214fe;
        color: white;
        border: none;
        padding: 8px 18px;
        border-radius: 3px;
        font-size: 0.9rem;
        transition: background 0.2s;
        font-family: "Nunito Sans", sans-serif;
        text-decoration: none;
    }

    .create-new-btn:hover {
         background-color: #000;
         color: #fff;
    }

    .nav-icon {
        font-size: 1rem;
        color: #888;
        margin-right: 1.2rem;
        cursor: pointer;
    }

    .nav-right a {
        font-weight: 500;
        text-decoration: none;
        color: black;
        margin-left: 1rem;
    }
    .nav-right a:hover{
        color: #6214fe;
    }
    /* Action buttons */
    .actions {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }

    .create-btn {
        background-color: #6214fe;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    .login-link {
        font-size: 0.9rem;
        color: #000;
        text-decoration: none;
    }

    /* Hero Section */
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10rem;
        gap: 2rem;
    }

    .hero-text {
        font-family: "Inter", sans-serif;
    }

        .hero-text h1 {
            font-family: "Inter", sans-serif;
            font-size: 4.5rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        .hero-text p {
            font-size: 0.95rem;
            margin-bottom: 1.5rem;
            color: #333;
        }

    .hero-image {
        flex: 1;
        text-align: right;
    }

        .hero-image img {
            max-width: 100%;
            width: 397px;
            height: 706px;
            object-fit: contain;
        }
    /* imgae section */
    .img-box {
        overflow: hidden;
        margin-bottom: 17px;
    }

        .img-box img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: fill;
        }

    .column {
        display: flex;
        flex-direction: column;
    }

    .horizontal {
        height: 213px;
        width: 402px;
    }

    .vertical {
        width: 213px;
        height: 402px;
    }

    .partner img {
        width: 115px;
        height: 50px;
        object-fit: contain;
    }

    .cate_img{
        width: 614px;
        height: 319px;
        overflow: hidden;
    }
    .cate_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category{
        padding: 105px 145px;
    }

    h6{
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }

    p{
        font-size: 14px;
    }

    .display {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 50px 0;
    }
    .display h2{
        font-weight: 800;
        font-family: "Inter", sans-serif;
    }

    .circle_icon{
        width: 60px;
        height: 60px;
        background-color: #000;
        border-radius: 100%;
    }

    .goals{
        width: 52%;
    }

    .foot_img{
        width: 80%;
    }

    .foot-head{
        font-weight:900;
        color: #fff;
        font-family: "Inter", sans-serif;
    }

    .foot-para{
        color: #fff;
        line-height: 17.5px;
    }

    .foot-text{
        width: 33%;
    }

    footer{
        background-color: #6214fe;
    }

    .foot-nav-link{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }

    .foot-nav-item{
        list-style: none;
    }

    .footer_nav{
        padding: 15px 60px;
    }

    .copyright-text{
        color: #fff;
    }

    .foot_brand{
        text-decoration: none;
        color: #fff;
        font-size: 23px;
        font-weight: 900;
        font-family: "Montserrat", sans-serif !important;
    }

    .footer-content{
        padding: 80px 0;
    }

    .option-column{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .option-box-inner{
        width: 63vw;
    }
    .templates_options{
        text-decoration: none;
        color: #000;
        font-size: 13px;
        font-weight: 600;
        width: max-content;
        padding: 7px 12px;
        border-radius: 4px;
    }

    .templates_options:hover{
        background-color: #000;
        color: #fff;
        width: max-content;
        padding: 7px 12px;
        border-radius: 4px;
    }
    .option-box-outer {
        padding-bottom: 65px;
        padding-top: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 3.4px 3.2px;
        justify-content: center;
        transform: translateY(-10px);
        transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
        position: absolute;
        width: 100%;
        background-color: #fff;
    }
    .temp_head{
        font-weight: 800;
        font-family: "Inter", sans-serif;
    }

    .pop_v{
        height: 315px;
        width: 175px;
    }
    .pop_h{
        height: 175px;
        width: 315px;
    }

    .pop_imgs{
        background-color: #DADDEC;
    }

    .register_btn{
        background-color: #fff;
        color: #000;
    }
    .border3{
        border-radius: 3px;
    }
    /* modal */

    .login_modal {
        background-color: rgba(36, 7, 136, 0.49);
    }

    .modal-backdrop {
        background-color: transparent !important;
    }
    .modal-backdrop {
        z-index: 1000 !important;
    }

    .login_modal .modal-dialog {
        margin-top: 120px !important;
        width: 350px;
    }

    .login_modal .modal-content {
        height: auto !important;
        border-radius: 3px !important;
    }

    .modal-title {
        font-size: 14px !important;
        font-weight: 700 !important;
    }

    .modal-header {
        border: none !important;
    }

    .modal-footer {
        border: none !important;
    }

    .cross:hover {
        color: red;
    }

    .download-cross_btn {
        font-size: 20px;
        position: absolute;
        top: 26px;
        right: 37px;
        border: none;
        background-color: transparent;
    }

    .input {
        font-size: 14px !important;
        display: block;
        width: 100%;
        padding: 7px 16px;
        margin-bottom: 15px;
        border: none;
        background-color: #e5ebed;
        font-size: 1rem;
        border-radius: 0;
    }

    .btn {
        width: 100%;
        padding: 8px 10px;
        background-color: #6214fe;
        color: #fff;
        font-size: 14px;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #000;
            color: #fff !important;
        }

    .b_rad4 {
        border-radius: 3px;
    }

    .login-box{
        margin-bottom: 15px;
    }

    .form-check-input[type=checkbox] {
        border-radius: 3px;
        box-shadow: none !important;
    }

    .form-check-input{
        width: 1.1rem;
        height: 1.1rem;
        border: 2px solid #c4c4c4;
        margin-top: 0;
    }
    .login-label{
        display: inline-block;
        font-size: 13px !important;
        margin-left: 4px;
        color: #000;
    }

    .forgot{
        text-decoration: none;
        color: #000;
        font-size: 13px !important;
    }

    .forgot:hover{
         color: #6214fe;
    }

    .sign-btn {
        background-color: #fff;
        color: #000;
        border: 2px solid #ccc;
        padding: 5px 28px;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        text-decoration: none;
    }

    .sign-btn:hover {
        background-color: #d1d1d1;
    }
    /* modal */
    .layout_modal {
        background-color: rgba(36, 7, 136, 0.49);
    }
    .modal-backdrop {
        z-index: 1000 !important;
    }

    .modal-dialog {
        margin-top: 200px !important;
    }

    .modal-content {
        height: 315px !important;
        border-radius: 3px !important;
    }

    .modal-title {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .modal-header {
        border: none !important;
    }

    .modal-footer {
        border: none !important;
    }

    .option-box {
        border: 2px solid transparent;
        padding: 14px;
        margin-bottom: 15px;
        cursor: pointer;
        border-radius: 3px;
        font-size: var(--font-size14);
    }

        .option-box:hover {
            border: 2px solid black;
        }

        .option-box.selected {
            border: 2px solid black;
        }

    .landscape-icon,
    .portrait-icon {
        border: 2px solid black;
        display: inline-block;
        margin-right: 10px;
    }

    .landscape-icon {
        width: 30px;
        height: 20px;
    }

    .portrait-icon {
        width: 20px;
        height: 30px;
    }

    .create-btn {
        background-color: #000;
        color: white;
        border: 2px solid transparent;
        padding: 6px 32px;
        border-radius: 3px;
    }

    .cancel-btn {
        background-color: #fff;
        color: #000;
        border: 2px solid #ccc;
        padding: 6px 32px;
        border-radius: 3px;
    }

    .create-btn:hover {
        background-color: #333;
    }

    .cancel-btn:hover {
        background-color: #d1d1d1;
    }

    .vertical_option {
        margin-left: 11px;
    }

    .nav-item .dropdown-item:hover {
        background-color: #4a32a3 !important;
    }
    /*modal check mark*/
    .option-box .checkmark {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease;
    }

    .option-box.selected .checkmark {
        background-color: #6214fe; /* your brand purple */
        border-color: #6214fe;
    }

        .option-box.selected .checkmark::after {
            content: '';
            position: absolute;
            top: 2.5px;
            left: 6px;
            width: 5px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    /*modal check mark*/
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Left: Logo + Links -->
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">AniBoard</a>
            <ul class="navbar-nav flex-row ms-4">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="hoverTarget">Templates  <i class="fa-solid fa-chevron-down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Canvas/Pricing">Pricing</a>
                </li>
            </ul>
        </div>

        <!-- Right: Search + Button + Login -->
        <div class="d-flex align-items-center gap-3 nav-right">
            <span class="nav-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <button class="create-new-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New</button>
            <a data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Login</a>
        </div>
    </div>
</nav>
<!-- Login Modal Structure -->
<div class="modal fade login_modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content downloadModal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title" id="aniBoardModalLabel">Log In</h5>
                @* <button type="button" class="btn-cross b-radius-6 tab cross download-cross_btn" data-bs-dismiss="modal">x</button> *@
            </div>

            <div class="modal-body text-start">
                <div class="login-box">
                    <input type="email" class="input b_rad4" id="emailInput" placeholder="Email" />
                    <input type="password" id="passwordInput" class="input b_rad4" placeholder="Password" />
                    <button type="button" onclick="validateCredentials();" class="btn b_rad4">Log In</button>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                        <label class="form-check-label login-label" for="checkDefault">
                            Remenber Me
                        </label>
                    </div>
                    <a class="forgot" href="/Canvas/ForgotPassword">Forgot Password?</a>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <a  href="/Canvas/Signup" class="sign-btn">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!-- Hover options Section -->
<div class="option-box-outer" id="hoverBox" style="display:none;">
    <div class="option-box-inner">
    <div class="row">
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Latest</a>
        </div>    
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Bank</a>
            <a class="templates_options" href="#">Schools/Collages</a>
            <a class="templates_options" href="#">Hotels</a>
            
            
        </div>
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Corporate</a>
            <a class="templates_options" href="#">Retail</a>
            <a class="templates_options" href="#">Sports</a>
        </div>
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Entertainment</a>
            <a class="templates_options" href="#">Resturant</a>
            <a class="templates_options" href="#">Healthcare</a>
        </div> 
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Car Repair</a>
            <a class="templates_options" href="#">Salon</a>
            <a class="templates_options" href="#">Boutique</a>
        </div>
        <div class="col-md-2 option-column">
            <a class="templates_options" href="#">Pet Shop</a>
            <a class="templates_options" href="#">Real Estate</a>
        </div>
    </div>
    </div>
</div>

<!-- Hero Section -->
<div class="container mt-3" id="main_hero">
    <section class="hero">
        <div class="hero-text">
            <h1>All Animation <br/> on Every Screen.</h1>
            <p>
                Easily create animations with a simple preset motion <br />
                tool—no designer or animator needed. Do it all yourself!
            </p>
            <button class="create-new-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New</button>
        </div>
        <div class="hero-image">
            <img src="~/images/hero_sec_img.png" alt="Nike Promo Image" />
        </div>
    </section>
</div>

<div class="container py-4">
    <div class="text-center mb-4">
        <h2 class="temp_head">Animation Templates</h2>
    </div>
    <div class="row column-gap-3 d-flex justify-content-center">
        <!-- Column 1: Horizontal Images -->
        <div class="col-auto p-0">
            <div class="img-box horizontal">
                <img class="border3" src="~/images/iphone.png" alt="Image 1" />
            </div>
            <div class="img-box horizontal">
                <img class="border3" src="~/images/discount.png" alt="Image 2" />
            </div>
            <div class="img-box horizontal">
                <img class="border3" src="~/images/brandname.png" alt="Image 3" />
            </div>
        </div>

        <!-- Column 2: Vertical Images -->
        <div class="col-auto p-0">
            <div class="img-box vertical">
                <img class="border3" src="~/images/watch.png" alt="Image 4" />
            </div>
            <div class="img-box vertical">
                <img class="border3" src="~/images/lemontea.png" alt="Image 5" />
            </div>
        </div>

        <!-- Column 3: Horizontal Images -->
        <div class="col-auto p-0">
            <div class="img-box horizontal">
                <img class="border3" src="~/images/onlinecloths.png" alt="Image 6" />
            </div>
            <div class="img-box horizontal">
                <img class="border3" src="~/images/70offf.png" alt="Image 7" />
            </div>
            <div class="img-box horizontal">
                <img class="border3" src="~/images/stickynote.png" alt="Image 8" />
            </div>
            <div class="img-box horizontal">
                <img class="border3" src="~/images/laptop.png" alt="Image 8" />
            </div>
        </div>

        <!-- Column 4: Vertical Images -->
        <div class="col-auto p-0">
            <div class="img-box vertical">
                <img class="border3" src="~/images/iphone14.png" alt="Image 9" />
            </div>
            <div class="img-box vertical">
                <img class="border3" src="~/images/shoe.png" alt="Image 10" />
            </div>
        </div>
    </div>
</div>
<div class="partner d-flex justify-content-between align-items-center container my-4">
    <img src="~/images/Layer 1.png" alt="" />
    <img src="~/images/Layer 2.png" alt="" />
    <img src="~/images/Layer 3.png" alt="" />
    <img src="~/images/Layer 4.png" alt="" />
    <img src="~/images/Layer 5.png" alt="" />
    <img src="~/images/Layer 7.png" alt="" />
    <img src="~/images/Layer 8.png" alt="" />
</div>

@* popular Aniboard *@
<div class="my-5">
    
    <div class="pop_imgs p-5">
        <h2 class="temp_head text-center mb-5">Most Popular AniBoards</h2>
        <div class="d-flex gap-4 justify-content-center  align-items-center">
            <img class="pop_h border3" src="~/images/discount.png" alt="Alternate Text" />
            <img class="pop_v border3" src="~/images/screen-V.png" alt="Alternate Text" />
            <img class="pop_h border3" src="~/images/70offf.png" alt="Alternate Text" />
            <img class="pop_v border3" src="~/images/shoe.png" alt="Alternate Text" />
            <img class="pop_h border3" src="~/images/screen-H.png" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="container category">
<h2 class="temp_head mb-4">Most Popular AniBoards</h2>
<div class="d-flex gap-5">
    
    <div class="cate_img">   
        <img class="border3" src="~/images/banner.png" alt="Alternate Text" />
    </div>
    <div class="cate_text d-flex flex-column justify-content-between ms-4">
        <div>
            <h6>1. Choose <br /> Animation Template</h6>
            <p>Select your Animation Templates <br /> as per your business requirements</p>
        </div>
        <div>
            <h6>2. Edit <br /> Content, Image and Style</h6>
            <p>Change Image and comtent. <br /> Add preset animation.</p>
        </div>
        <div>
            <h6>3. Publish <br /> Motion Template</h6>
            <p>Publish the Template and <br /> run the animation in unique URL.</p>
        </div>
        
    </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="create-new-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New</button>
    </div>
</div>

<div class="container display">
    <div class="text-center">
        <h2 class="mb-3">Easily animate your content <br /> on digital displays.</h2>
        <p>No experinece? No problem. AniBoards empowers any <br /> designer to create sleek animations in minutes.</p>
    </div>
    <div class="goals d-flex jutify-content-center gap-5 my-5">
        <div class="d-flex gap-4 align-items-center justify-content-center w-50">
            <div class="circle_icon d-flex align-items-center justify-content-center">
                <img src="~/images/icons/pen_design.png" width="38px" alt="Alternate Text" />
            </div>
            <h6 class="w-50">Beautiful Animation Templates</h6>
        </div>
        <div class="d-flex gap-4 align-items-center justify-content-center w-50">
            <div class="circle_icon d-flex align-items-center justify-content-center">
                <img src="~/images/icons/stack.png" width="19px" alt="Alternate Text" />
            </div>
            <h6 class="w-50">Preset Animation Effects</h6>
        </div>
        <div class="d-flex gap-4 align-items-center justify-content-center w-50">
            <div class="circle_icon d-flex align-items-center justify-content-center">
                <img src="~/images/icons/camera.png" width="48px" alt="Alternate Text" />
            </div>
            <h6 class="w-50">Publish Animation on Screen</h6>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="d-flex justify-content-center footer-content">
            <div class="align-self-center">
                <img class="foot_img ms-5 border3" src="~/images/screen-H.png" alt="Alternate Text" />
            </div>
            <div class="align-self-center">
                <img class="foot_img border3" src="~/images/screen-V.png" alt="Alternate Text" />
            </div>
            <div class="foot-text py-5">
                <h2 class="foot-head mb-4">Features</h2>
                <p class="foot-para">No designer or animator needed... Just design it yourself and the animation will be created automatically.It's super simple to create an animation board for your signage screen.</p>
                <a href="/Canvas/Signup" class="create-new-btn register_btn">Register Now</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer_nav d-flex justify-content-between">
            <div class="copyright-text d-flex align-items-center">
                <p>&#169; 2025 - All Rights Reserved.</p>
            </div>
            <div>
                <ul class="d-flex gap-5 align-items-center">
                    <li class="foot-nav-item"><a class="foot-nav-link" href="#">About Us</a></li>
                    <li class="foot-nav-item"><a class="foot-nav-link" href="/Canvas/Templates">Templates</a></li>
                    <li class="foot-nav-item"><a class="foot-nav-link" href="/Canvas/Pricing">Pricing</a></li>
                    <li class="foot-nav-item"><a class="foot-nav-link" href="/Canvas/Contactus">Contact</a></li>
                    <a class="foot_brand" href="#">AniBoard</a>
                </ul>
            </div>
        </div>
    </div>
</footer>

@* <!-- Modal Structure -->
<div class="modal fade layout_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content p-3">
        <div class="modal-header">
            <h5 class="modal-title" id="aniBoardModalLabel">New AniBoard</h5>
        </div>

        <div class="modal-body">
            <!-- Vertical Option -->
            <div class="option-box d-flex justify-content-between align-items-center mb-2" id="vertical-option">
                <div class="d-flex align-items-center">
                    <div class="portrait-icon"></div>
                    <span class="vertical_option">Vertical / Portrait</span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span>1080x1920</span>
                    <span class="checkmark"></span>
                </div>
            </div>

            <!-- Horizontal Option -->
            <div class="option-box d-flex justify-content-between align-items-center" id="horizontal-option">
                <div class="d-flex align-items-center">
                    <div class="landscape-icon"></div>
                    <span>Horizontal / Landscape</span>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <span>1920x1080</span>
                    <span class="checkmark"></span>
                </div>
            </div>


        </div>

        <div class="modal-footer pt-0">
            <button type="button" class="cancel-btn" data-bs-dismiss="modal">Cancel</button>
            <button class="create-btn" id="create-button">Create</button>
        </div>
    </div>
</div>
</div> *@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    
    const target = document.getElementById('hoverTarget');
    const box = document.getElementById('hoverBox');
    const hero = document.getElementById('main_hero');
    let hideTimeout;

    // Show box when hovering over the trigger
    target.addEventListener('mouseenter', () => {
      clearTimeout(hideTimeout);
      box.style.display = 'flex';
    });

    // Start a delayed hide when leaving the trigger
    target.addEventListener('mouseleave', () => {
      hideTimeout = setTimeout(() => {
        if (!box.matches(':hover')) {
          box.style.display = 'none';
        }
      }, 1000); // Slight delay to allow moving into the box
    });

    // Cancel hiding if mouse enters the box
    box.addEventListener('mouseenter', () => {
      clearTimeout(hideTimeout);
      box.style.display = 'flex';
      // hero.style.display = 'none';
    });

    // Hide the box when mouse leaves the box
    box.addEventListener('mouseleave', () => {
      box.style.display = 'none';
      hero.style.display = 'flex';
    });


</script>
<script>
        // JavaScript for Handling Selection and Redirection

    let selectedOption = ""; // Variable to store the selected board type

    document.getElementById("horizontal-option").addEventListener("click", function () {
        selectedOption = "horizontal";
        highlightSelection("horizontal-option");
    });

    document.getElementById("vertical-option").addEventListener("click", function () {
        selectedOption = "vertical";
        highlightSelection("vertical-option");
    });

    document.getElementById("create-button").addEventListener("click", function () {
        if (selectedOption === "horizontal") {
            window.location.href = "/Canvas/HorizontalIndex"; // Redirect to horizontal page
        } else if (selectedOption === "vertical") {
            window.location.href = "/Canvas/VerticalIndex"; // Redirect to vertical page
        } else {
            // alert("Please select an option before proceeding!");
            MessageShow('', 'Please select an option before proceeding!', 'error');
        }
    });

    // Function to highlight selected option
    function highlightSelection(selectedId) {
        document.getElementById("horizontal-option").classList.remove("selected");
        document.getElementById("vertical-option").classList.remove("selected");
        document.getElementById(selectedId).classList.add("selected");
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.panel-vertical-scroll .menuboard-vertical-thum')
            .forEach(item => {
                item.addEventListener('click', function () {
                    this.classList.toggle('active');
                });
            });
    });
</script>