@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@section scripts {
    <script src="~/js/animation_min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="~/js/animationhorizontal.js?v=@Configuration["AppSettings:FilesVersion"]"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="~/css/animate/animate.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/canvas.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
@*  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js'></script> *@
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src="~/js/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>

        input[type="color" i] {
            width: 30px;
            height: 30px;
            padding: 0;
            /* border: none; */
            border-radius: 7px;
        }

        .color-swatch {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid transparent;
            cursor: pointer;
            transition: transform 0.2s, border-color 0.2s;
        }

            .color-swatch:hover {
                transform: scale(1.1);
                border-color: #666;
            }

            .color-swatch.selected {
                border-color: #000;
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
            }
        /* Custom context menu styling */
        #contextMenu {
            position: absolute;
            display: none;
            z-index: 1000;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            padding: 5px;
            border-radius: 4px;
        }

            #contextMenu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            #contextMenu li {
                padding: 5px 10px;
                cursor: pointer;
            }

                #contextMenu li:hover {
                    background-color: #eee;
                }

        .dropdown-toggle {
            text-decoration: none;
            color: #777b7c;
        }

        .dropdown-menu.show {
            background: #fff;
            border-radius: 1rem;
            border: 0px;
            height: auto !important;
            width: 240px;
            -webkit-box-shadow: 0px 0px 7px #c1bbbb;
            box-shadow: 0px 0px 7px #c1bbbb;
            overflow: hidden !important;
        }

        .dropdown {
            color: #000000 !important;
        }

            .dropdown:hover {
                color: #212529 !important;
            }

        .dropdown-item {
            color: #212529 !important;
        }

            .dropdown-item:hover {
                color: #fff !important;
                background-color: #4e43e1 !important;
            }



        /* gallery styles */

        :root {
            --font-mont: "Montserrat", sans-serif;
            --font-nunito: "Nunito Sans", sans-serif;
            --color-white: #fff;
            --color-blue: #4e43e1;
            --color-muted-grey: #777b7c;
            --color-border-grey: #00000036;
        }

        body {
            font-family: var(--font-nunito);
            margin: 0;
            padding: 0;
            font-size: 1rem;
        }

        .panel-left-gallery {
            width: 100%;
            /* height: 100vh; */
            background: var(--color-white);
            /* z-index: 9; */
            padding: 25px 30px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .tabs {
            display: flex;
            justify-content: space-between;
            width: 47%;
        }

        .tab {
            padding: 3px 7px;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            border: 1px solid transparent;
            border-radius: 3px !important;
        }

            .tab:hover {
                border: 1px solid #08080836;
                border-radius: 5px;
            }



        .cross:hover {
            color: red;
        }

        .tab.active {
            background: var(--color-blue);
            color: var(--color-white);
            border-radius: 3px;
        }

        .left_content {
            display: none;
        }

            .left_content.active {
                display: block;
            }

        .search-box {
            display: flex;
        }

            .search-box input {
                flex: 1;
                padding: 3px 5px;
            }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            min-height: 432px;
        }

        .my_img_gal {
            min-height: 430.7px;
        }

        .gallery img {
            width: 110px;
            height: 110px;
            object-fit: contain;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 24px;
        }

            .pagination span {
                margin: 0 9px;
                cursor: pointer;
                font-size: 14px;
                right-listone
            }

        .shapes_drop {
            text-decoration: none;
            color: var(--color-muted-grey);
        }

        .shapes_tabs a {
            font-size: 14px;
            text-decoration: none;
            color: black;
        }

        .left-panel-imput {
            flex: 1;
            padding: 5px;
            border-radius: 5px;
            border-color: #00000036;
        }

        .search-box,
        .choose_file {
            margin-top: 15px;
        }

        .file_upload {
            border-radius: 5px !important;
        }

        .temp_gallery {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            overflow-y: hidden;
            min-height: 432px;
        }

            .temp_gallery img {
                width: auto;
                height: 147px;
            }

        .gallery_head {
            font-size: 18px;
            font-weight: 700;
        }

        .gallery_type {
            font-size: 15px;
        }
        /* file upload css */
        .custom-file-input {
            display: flex;
            align-items: center;
            opacity: unset !important;
            border-radius: 5px;
            overflow: hidden;
            border: 2px solid #00000036 !important;
            font-family: Arial, sans-serif;
        }

            .custom-file-input label {
                background-color: #e6f4ea;
                padding: 5px;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                color: #333;
                margin-bottom: 0 !important;
            }

            .custom-file-input span {
                flex: 1;
                padding: 5px;
                font-size: 14px;
                color: #888;
                background-color: #f9f9f9;
            }

            .custom-file-input input {
                display: none;
            }
        /* background image upload */
        #background_popup {
            display: none;
            width: 254px;
            height: 100%;
            background-color: #fff;
            padding: 20px;
            position: absolute;
            top: 3px;
            left: 0;
        }

        #close_button {
            border: 0px solid #ddd;
            float: right;
            background: transparent;
            font-weight: bold;
            font-size: 15px;
            border-radius: 3px;
            padding-top: 2.3px;
        }

        .back_label {
            font-size: 15px;
        }

        .background_edit {
            font-family: "Nunito Sans", sans-serif;
            font-size: 15px;
        }

        .texture_img {
            width: 75px;
            height: 75px;
        }

        .texture_images {
            min-height: 469px;
        }

        .texture_palette {
            width: 30px;
            height: 30px;
            padding: 0;
            border: 2px solid #000000 !important;
            border-radius: 7px;
            overflow: hidden;
        }

            .texture_palette img {
                width: 30px;
                height: 30px;
            }

        #texture_box {
            display: block;
        }



        /* play modal */

        .play_modal_body .modal-content {
            border-radius: 10px;
            width: 411px !important;
            height: 704px !important;
            transform: translate(295px, -180px);
        }

        .play_modal_body .modal-body img {
            width: 100%;
        }

        .modal-open .modal {
            overflow-y: hidden !important;
        }

        .play_modal_body .modal.show .modal-dialog {
            max-width: 1000px !important;
        }

        .play_modal_btn {
            position: absolute;
            top: -16px;
            right: -16px;
            background-color: #ff0000 !important;
            opacity: 1 !important;
            border-radius: 100% !important;
            padding: 7px !important;
            color: #fff !important;
        }

        .menuboard-vertical-thum .active {
            border: 2px solid #0000ff80;
        }

        .miniCanvas {
            border-radius: 5px;
            width: 40px;
            height: 40px;
        }

            .miniCanvas:hover {
                border: 2px solid #ccc;
            }


        .miniCanvas_active {
            border: 2px solid #ccc;
        }
        /* all time deropdown */
        .time_dropdown {
            font-size: 13.8px !important;
            font-weight: 500 !important;
        }

        .hori_canvas{
            width: 60%;
            aspect-ratio: 16/9;
        }
    </style>
    <script>
                  $(document).ready(function(){
                   CreateHeaderSectionHorizontalhtml();
                    CreateBackgroundSectionHorizontalhtml();
                     CreateLeftSectionHorizontalhtml();
                      CreateRightSectionHorizontalhtml()
            });
                  // show the popup when the pattern icon is clicked
        $(document).on('click', '#toggle_img', function(e) {
          e.preventDefault();
          CreateHeaderSectionHorizontalhtml();
          $('#background_popup').show();
        });

        // hide the popup when the close button is clicked
        $(document).on('click', '#close_button', function(e) {
          e.preventDefault();
          $('#background_popup').hide();
        });
        function opengl()
             {
              $("#opengl_popup").toggle();
              if(document.getElementById("fontstyle_popup").style.display == "block"){
                    $("#fontstyle_popup").hide();
                    $(".right-sec-two").toggle();
                    $(".right-sec-one").toggle();
                }
             }
                  function switchTab(tabElement, tabName) {
            console.log("Arghadeep");  // Debugging log

            let tabs = document.querySelectorAll(".tab");
            let contents = document.querySelectorAll(".left_content");

            // Remove active class from all tabs
            tabs.forEach((tab) => tab.classList.remove("active"));

            // Add active class to clicked tab
            tabElement.classList.add("active");

            // Hide all content sections
            contents.forEach((content) => content.classList.remove("active"));

            // Show the selected tab's content
            document.getElementById(tabName).classList.add("active");
        }
    </script>

    <script>
                document.querySelectorAll('.H-link, .V-link').forEach(link => {
          link.addEventListener('click', () => {
            document.querySelectorAll('.H-link, .V-link').forEach(el => el.classList.remove('active'));
            link.classList.add('active');
          });
        });
    </script>
    <script>
        function opengl()
         {
          $("#opengl_popup").toggle();
          if(document.getElementById("fontstyle_popup").style.display == "block"){
                $("#fontstyle_popup").hide();
                $(".right-sec-two").toggle();
                $(".right-sec-one").toggle();
            }
         }
    </script>

    <script>
        function opentl()
         {
            if(document.getElementById("opengl_popup").style.display == "block"){
                $("#opengl_popup").hide();
            }
          $("#fontstyle_popup").toggle();
          $(".right-sec-two").toggle();
          $(".right-sec-one").toggle();
         }
    </script>
    <!-- JavaScript for Handling Selection and Redirection -->
    <script>
        let selectedOption = ""; // Variable to store the selected board type

        document.getElementById("horizontal-option").addEventListener("click", function () {
            selectedOption = "horizontal";
            highlightSelection("horizontal-option");
        });

        document.getElementById("vertical-option").addEventListener("click", function () {
            selectedOption = "vertical";
            highlightSelection("vertical-option");
        });

        document.getElementById("create-button").addEventListener("click", function () {
            if (selectedOption === "horizontal") {
                window.location.href = "/Canvas/HorizontalIndex"; // Redirect to horizontal page
            } else if (selectedOption === "vertical") {
                window.location.href = "/Canvas/VerticalIndex"; // Redirect to vertical page
            } else {
                // alert("Please select an option before proceeding!");
                MessageShow('', 'Please select an option before proceeding!', 'error');
            }
        });

        // Function to highlight selected option
        function highlightSelection(selectedId) {
            document.getElementById("horizontal-option").classList.remove("selected");
            document.getElementById("vertical-option").classList.remove("selected");
            document.getElementById(selectedId).classList.add("selected");
        }

        document.addEventListener('DOMContentLoaded', function () {
          document.querySelectorAll('.panel-vertical-scroll .menuboard-vertical-thum')
            .forEach(item => {
              item.addEventListener('click', function () {
                this.classList.toggle('active');
              });
            });
        });


    </script>

        }



    

<div class="text-center" style="position:relative">

    <nav class="navbar bg-dark-topnav navbar-expand-lg fixed-top">
        <div class="container-fluid p-r-0" style="justify-content: center !important;">
            <div class="row" id="divHeaderSectionH">

            </div>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div class="modal fade layout_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(36, 7, 136, 0.49) !important;">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="aniBoardModalLabel">New AniBoard</h5>
                </div>

                <div class="modal-body">
                    <!-- Vertical Option -->
                    <div class="option-box d-flex justify-content-between align-items-center mb-0" id="vertical-option">
                        <div class="d-flex align-items-center">
                            <div class="portrait-icon"></div>
                            <span class="vertical_option">Vertical / Portrait</span>
                        </div>
                        <span>1080x1920</span>
                    </div>

                    <!-- Horizontal Option -->
                    <div class="option-box d-flex justify-content-between align-items-center" id="horizontal-option">
                        <div class="d-flex align-items-center">
                            <div class="landscape-icon"></div>
                            <span>Horizontal / Landscape</span>
                        </div>
                        <span>1920x1080</span>
                    </div>

                   
                </div>

                <div class="modal-footer pt-0">
                    <button class="create-btn" id="create-button">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="#">
                        <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" class="icon">
                        My account
                    </a>
                    <a href="#">
                        <img src="https://cdn-icons-png.flaticon.com/512/126/126467.png" class="icon">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-stretch   main-canvas-content mt-0">
        <div class="panel-left " id="divpanelleftH">

          
            @* <div class="panel-left-scroll ">
                <ul>
                    <li>
                        <img src="~/images/banner.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 1</span>
                            <button class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/banner-old.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 2</span>
                            <button class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/banner.png" class="menuboard-thum" alt="Banner" style="width: 80%; height: auto;">
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <span>Slide 3</span>
                            <button class="sd-btn-right"> <img src="~/images/icon-01.png" alt="Banner" style="width: 22px;"><b>FD</b></button>
                            <div class="clear"></div>
                        </div>
                    </li>

                </ul>
            </div> *@
        </div>
        <div class="panel-middle d-flex justify-content-center">
            
                
                    <div class="canvas-top-btn">

                        <button class="Graphic-More active">Animation Mode</button>
                    </div>

                    
                        
                        <div id="canvasContainer">
                            <canvas class="hori_canvas" id="myCanvas" style="background-color:#fff"></canvas>
                        </div>
                        <p class="middle-resulation">1920x1080</p>
                    
                
        </div>

        <div class="panel-right content" id="divpanelrightH">
           
        </div>
    </div>
</div>


